parameters:
	ignoreErrors:
		-
			message: '#^Method App\\Http\\Requests\\LoginRequest\:\:rules\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Http/Requests/LoginRequest.php

		-
			message: '#^Method App\\Http\\Requests\\RegisterRequest\:\:rules\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Http/Requests/RegisterRequest.php

		-
			message: '#^Method App\\Http\\Requests\\UpdatePasswordRequest\:\:rules\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Http/Requests/UpdatePasswordRequest.php

		-
			message: '#^Method App\\Http\\Requests\\UpdateProfileRequest\:\:rules\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Http/Requests/UpdateProfileRequest.php

		-
			message: '#^Method App\\Logging\\CreateKafkaLogger\:\:__invoke\(\) has parameter \$config with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Logging/CreateKafkaLogger.php
